.main_title {font-size:2.5em;font-family:"Georgia";margin-left:28px}
.secondary_title {color:#cb65cb;font-size:1.5em;font-family:"Georgia";width:200px;}
.findent {text-indent:30px;}
a {text-decoration:none}
body {margin:0px;background-color:#b9cad4;}
.title_bar {position:absolute;left:0;height:50px;width:100%;margin-top:-15px;padding-top:30px;background-color:#C1C1C1}
.list {width:100%;position:absolute;left:0;top:100px}

