%script{:type => "text/css", :src  => "hub.css"}
.container
  .titlebar
    %span.main_title listing hubs
    %span.little_text
      = link_to 'new hub', new_hub_path
  .content
    %table
      - @hubs.each do |hub|
        %tr
          %td.secondary_title
            = link_to hub.label, hub
            %span.littletext --------------------->
          %td
            #{hub.ibits.count + hub.tbits.count + hub.qbits.count + hub.lbits.count} total bits
  .footerbar
    .footer-text
      .littletext
        Copyright &copy; 2011 - Zachary Schroeder
