%p#notice= notice
%p
  %b Title:
  = @ibit.title
%p
  %b Description:
  = @ibit.description
%hr
%p
  = image_tag @ibit.image.mid.url
%hr
-# = link_to 'Edit', edit_ibit_path(@ibit)
-# = link_to 'Back', ibits_path
