!!!5
%html
  %head
    %title
      rltd
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults,'hubs','search','jquery-ui-1.8.16.custom.min.js'
    = csrf_meta_tag
  %body
    = yield
    -# %p.notice
    -#   = notice
    -# %p.alert
    -#   = alert
