!!!5
%html
  %head
    %title
      Rltd
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults,'lbit_votes'
    = csrf_meta_tag
  %body
    = yield
    -# %p.notice
    -#   = notice
    -# %p.alert
    -#   = alert
